<div class="col-md-8 col-md-offset-10">
    <div class="panel panel-default" style="margin-top: 100px">
        <div class="panel-heading">
            <h3 class="panel-title">请登入</h3>
        </div>
        <div class="panel-body">
            <form accept-charset="UTF-8" role="form">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="用户名" name="account" type="text" ng-model="username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="密码" name="password" type="password" ng-model="password">
                    </div>
                    <input class="btn btn-lg btn-success btn-block" type="submit" value="登录" ng-disabled="!canLogin()" ng-click="login()">
                </fieldset>
            </form>
            <p ng-show="logInError" style="color: red">用户名或密码不正确</p>
        </div>
    </div>
</div>
