<div kendo-window="winCreateImage__" k-visible="false" k-options="winCreateImageOptions__">
    <div class="row">
        <div class="col-sm-15">
            <div class="tab-content">
                <div id="createImageInfo" class="tab-pane active">
                    <div class="alert alert-warning col-sm-21" ng-show="!infoPage.hasBackup()">
                        No backup storage has been added. Please go to <a href="/#/backupStorage">backup storage page</a> to add a new one.
                    </div>

                    <h4 class="z-win-h4">添加镜像</h4>
                    <form class="form" id="formCreate">
                        <div class="form-group col-sm-24">
                            <label for="zone">备份存储</label>
                            <select id="zone" kendo-multi-select="backupStorageList__" k-options="backupStorageListOptions__" class="z-win-dropdown"></select>
                            <p class="z-hint">（必选）选择备份存储该镜像的存储</p>
                        </div>
                        <div class="form-group col-sm-21">
                            <label for="name">名称</label>
                            <input class="form-control" type="text" id="name" placeholder="(Required) max length of 255 characters" ng-model="infoPage.name" required data-message="name is required">
                        </div>
                        <div class="form-group col-sm-21">
                            <label for="description">描述</label>
                            <textarea  class="form-control" rows="5" id="description" placeholder="(Optional) max length of 2048 characters" ng-model="infoPage.description"></textarea>
                        </div>
                        <div class="form-group col-sm-24">
                            <label for="hvType">格式</label>
                            <select id="hvType" kendo-drop-down-list="formatList__" k-options="formatOptions__" class="z-win-dropdown" ng-model="infoPage.format"></select>
                        </div>
                        <div class="form-group col-sm-24">
                            <label for="format">媒体类型</label>
                            <select id="format" kendo-drop-down-list="mediaTypeList__" k-options="mediaTypeOptions__" class="z-win-dropdown" ng-model="infoPage.mediaType"></select>
                        </div>
                        <div class="form-group col-sm-24">
                            <label for="platform">平台</label>
                            <select id="platform" kendo-drop-down-list="platformList__" k-options="platformOptions__" class="z-win-dropdown" ng-model="infoPage.platform"></select>
                        </div>
                        <div class="form-group col-sm-21">
                            <label for="url">网址</label>
                            <input type="text" class="form-control" id="url" placeholder="http or https link" ng-model="infoPage.url">
                            <div class="alert alert-danger col-sm-21" ng-show="!infoPage.isUrlValid()">
                                Not a valid URL. Valid URL must start with 'http' or 'https'
                            </div>
                        </div>
                        <div class="form-group col-sm-21">
                            <label for="guestOsType">客户操作系统类型</label>
                            <input type="text" class="form-control" id="guestOsType" placeholder="Guest OS type" ng-model="infoPage.guestOsType">
                        </div>
                        <div class="form-group col-sm-18">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="infoPage.system"> <strong>系统镜像</strong>
                                </label>
                            </div>
                            <p class="z-hint">（可选）如果选中，镜像将被创建为系统镜像。系统镜像不能用于创建用户虚拟机;它主要用于创建虚拟路由器</p>
                        </div>
                    </form>
                </div>

                <div class="form-group col-sm-21">
                    <button type="button" class="btn btn-primary" ng-disabled="!button.canNextProceed()" ng-click="button.nextClick()">{{button.nextButtonName()}}</button>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="z-wizard-bar">
                <ul class="nav">
                    <li class="active"><a data-target="#createImageInfo" ng-click="button.pageClick('createImageInfo')">镜像信息</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
