<div style="display: none">
  <div z-confirm="deleteVmInstance" z-options="optionsDeleteVmInstance"></div>
  <div z-migrate-vm-instance="migrateVm" z-options="optionsMigrateVm"></div>
  <div z-vm-attach-volume="attachVolume" z-options="optionsAttachVolume"></div>
  <div z-vm-detach-volume="detachVolume" z-options="optionsDetachVolume"></div>
  <div z-vm-attach-l3-network="attachL3Network" z-options="optionsAttachL3Network"></div>
  <div z-vm-detach-l3-network="detachL3Network" z-options="optionsDetachL3Network"></div>
  <div z-change-instance-offering="changeInstanceOffering" z-options="optionsChangeInstanceOffering"></div>
</div>

<div class="z-pane">
  <ol class="breadcrumb">
    <li><a href="/#/vmInstance">虚拟机</a></li>
    <li class="active"><a href>{{model.current.name}}</a></li>
  </ol>

  <h1>{{model.current.name}}</h1>

  <div class="z-pane-toolbar" ng-show="funcToolbarShow()">
    <div class="btn-group-sm">
      <button type="button" class="btn btn-default btn-sm z-ribbon-button" ng-click="funcRefresh()">
        <i class="fa fa-refresh"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          操作 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href ng-click="action.start()" ng-show="action.isActionShow('start')">启动</a></li>
          <li><a href ng-click="action.stop()" ng-show="action.isActionShow('stop')">停止</a></li>
          <li><a href ng-click="action.reboot()" ng-show="action.isActionShow('reboot')">重启</a></li>
          <li><a href ng-click="action.migrate()" ng-show="action.isActionShow('migrate')">迁移</a></li>
          <li><a href ng-click="action.console()" ng-show="action.isActionShow('console')">控制台</a></li>
          <li><a href ng-click="action.attachVolume()" ng-show="action.isActionShow('attachVolume')">添加卷</a></li>
          <li><a href ng-click="action.detachVolume()" ng-show="action.isActionShow('detachVolume')">分离卷</a></li>
          <li><a href ng-click="action.attachL3Network()" ng-show="action.isActionShow('attachL3Network')">添加三层网络</a></li>
          <li><a href ng-click="action.detachL3Network()" ng-show="action.isActionShow('detachL3Network')">分离三层网络</a></li>
          <li><a href ng-click="action.changeInstanceOffering()" ng-show="action.isActionShow('changeInstanceOffering')">更改实例配置</a></li>
          <li class="divider"></li>
          <li><a href style="color:red" ng-click="funcDeleteVmInstance(deleteVmInstance)">删除</a></li>
        </ul>
      </div>
    </div>
  </div>

  <ul class="nav nav-pills">
    <li class="active"><a data-target="#info" data-toggle="pill" href>信息</a></li>
    <li><a data-target="#nic" data-toggle="pill" href>网络适配器</a></li>
    <li><a data-target="#volume" data-toggle="pill" href>卷</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="info">
      <tags-input ng-model="optionsTag.tags" display-property="tag" min-length="1"
                  on-tag-added="optionsTag.createTag($tag)" on-tag-removed="optionsTag.deleteTag($tag)"
                  add-on-comma="false" replace-spaces-with-dashes="false" ng-show="optionsTag.isShow()"></tags-input>

      <div class="panel panel-default" z-panel-header-in>
        <div class="panel-heading">
          <a class="accordion-toggle" data-target="#infoDetails" data-toggle="collapse" href>
            <i class="z-collapse fa fa-chevron-down"></i>
            <span>&nbsp; 详情</span>
          </a>
        </div>

        <div id="infoDetails" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class="table z-table-borderless">
              <tr>
                <td><span class="z-label">描叙:</span></td>
                <td><span class="z-description">{{model.current.description}}</span></td>
              </tr>
              <tr>
                <td><span class="z-label">状态:</span></td>
                <td><span class="{{model.current.stateLabel()}}">{{model.current.state}}</span></td>
              </tr>
              <tr>
                <td><span class="z-label">虚拟机监视器:</span></td>
                <td><span>{{model.current.hypervisorType}}</span></td>
              </tr>
              <tr>
                <td><span class="z-label">UUID:</span></td>
                <td><span>{{model.current.uuid}}</span></td>
              </tr>
              <tr>
                <td><span class="z-label">CPU数量:</span></td>
                <td><span>{{cpuNum}}</span></td>
              </tr>
              <tr>
                <td><span class="z-label">主频:</span></td>
                <td><span>{{cpuNum}}</span></td>
              </tr>
              <tr>
                <td><span class="z-label">内存大小:</span></td>
                <td><span>{{memorySize | size}}</span></td>
              </tr>
              <tr>
                <td><span class="z-label">主机名:</span></td>
                <td><span>{{hostname}}</span></td>
              </tr>
              <tr>
                <td><span class="z-label">实例配置模板 UUID:</span></td>
                <td><a href="/#/instanceOffering/{{model.current.instanceOfferingUuid}}">{{model.current.instanceOfferingUuid}}</a></td>
              </tr>
              <tr>
                <td><span class="z-label">默认三层网络 UUID:</span></td>
                <td><a href="/#/l3Network/{{model.current.defaultL3NetworkUuid}}">{{model.current.defaultL3NetworkUuid}}</a></td>
              </tr>
              <tr>
                <td><span class="z-label">镜像 UUID:</span></td>
                <td><a href="/#/image/{{model.current.imageUuid}}">{{model.current.imageUuid}}</a></td>
              </tr>
              <tr>
                <td><span class="z-label">主机 UUID:</span></td>
                <td><a href="/#/host/{{model.current.hostUuid}}">{{model.current.hostUuid}}</a></td>
              </tr>
              <tr>
                <td><span class="z-label">最后主机 UUID:</span></td>
                <td><a href="/#/host/{{model.current.lastHostUuid}}">{{model.current.lastHostUuid}}</a></td>
              </tr>
              <tr>
                <td><span class="z-label">集群 UUID:</span></td>
                <td><a href="/#/cluster/{{model.current.clusterUuid}}">{{model.current.clusterUuid}}</a></td>
              </tr>
              <tr>
                <td><span class="z-label">区域 UUID:</span></td>
                <td><a href="/#/zone/{{model.current.zoneUuid}}">{{model.current.zoneUuid}}</a></td>
              </tr>
              <tr>
                <td><span class="z-label">创建日期:</span></td>
                <td><span>{{model.current.createDate}}</span></td>
              </tr>
              <tr>
                <td><span class="z-label">最后更改日期:</span></td>
                <td><span>{{model.current.lastOpDate}}</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="nic">
      <div kendo-grid="nicGrid" k-options="optionsNicGrid" class="z-flat-table"></div>
    </div>

    <div class="tab-pane" id="volume">
      <div kendo-grid="volumeGrid" k-options="optionsVolumeGrid" class="z-flat-table"></div>
    </div>
  </div>
</div>
